/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 970px) {
	.container {
	    max-width: 1000px;
	}
	.header {
		padding-top: 7px;
		padding-bottom: 4px;
	}
	.head_nav {
	    margin-top: 12px;
	    margin-right: 15px;
	}
	.header_main {
	    font-size: 16px;
	    padding-bottom: 4px;
	}
	.head_check {
	    width: 132px;
	}
	.header_main .logo {
	    min-width: 132px;
	    margin-left: 0px;
	}
	.head_check a {
	    padding: 5px 9px;
	    padding-bottom: 8px;
	}
	.head_nav a {
    	padding: 10px 6.5px;
    	padding-top: 2px;
    	margin-right: 0;s
   	}
   	header .feedcall {
	    right: 10px;
	    bottom: -72px;
	}
	header {
	    margin-bottom: 203px;
	}
	.promo_content {
	    margin-left: 12.1017%;
		padding-bottom: 254px;
	}
	.main_title {
	    font-size: 22px;
	}
	.main_title h1 {
	    font-size: 56px;
	    line-height: 102px;
	}
	.everest_menu {
	    width: 100%;
   		max-width: 699px;
	    margin-top: 48px;
	}
/*	.everest_menu a {
	    width: 21.9587%;
	    width: 213px;
		font-size: 22px;
   		padding: 15px 45px;
    	padding-right: 30px;
	    margin-right: 5px;
	}*/
	.everest_menu a {
    /* width: 21.9587%; */
    /* width: 213px; */
    /* font-size: 22px; */
    /* padding: 15px 45px; */
    /* padding-right: 30px; */
    /* margin-right: 5px; */
}
	.ev1 {
    	min-width: 212px;
    }
    .everest_menu a {
   		display: inline-block;
   		color: #129fd4;
    	padding: 12px;
    	padding-left:50px;
	}
	.everest_popap {
    	bottom: 94px;
    	width: 376px;
		padding: 24px 10px;
	}
	.everest_menu .selected:after {
	    right: 45px;
	}
	.everest_menu a:after {
	    right: 45px;
	}
	.everest_popap a {
	    padding: 4px 13px;
	}
	.everest_popap .right a {
	    padding-left: 10px;
	}
	.toggle_mnu {
	    width: 25px;
	    margin-left: 2px;
	}
	.header_fixed_content .logo {
	    width: 88px;
	    margin-left: 19px;
	}
	.feedcall_fixed b {
	    font-size: 18px;
	    margin-right: 8px;
	    margin-top: 1px;
	}
	.everest {
    	font-size: 20px;
    	width: 350px;
    	,list-style: 14px;
	}
	.header_fixed {
    	padding-top: 2px;
    	margin-right: 23px;
	}
	.feedcall_fixed {
    	width: 185px;
    	line-height: 14px;
		white-space: nowrap;
	}
	.feedcall_fixed a {
    	line-height: 14px;
	    margin-top: 6px;
	    margin-left: 0px;
	}
	.header_fixed .head_check {
		width: 267px;
	    margin-left: -5px;
	    font-size: 16px;
	    margin-right: 0px;
	    flex-wrap: wrap;
	    justify-content: center;
	}
	.header_fixed_content .head_check a:first-child {
	    margin-right: 4px;
	}
	.header_fixed {
    	padding-top: 2px;
    	padding-bottom: 4px;
	}
	.dcr_block {
    	padding: 19px 33px;
	}
	.features_item p {
	    font-size: 22px;
	}
	.dcr_block {
		width: 455px;
    	padding: 19px 38px;
    	padding-right: 33px;
    	padding-bottom: 30px;
	}
	.panorama {
    	padding-top: 70px;
	}
	.panorama .dcr_block {
	    padding-top: 15px;
	    padding-left: 23px;
	}
	.panorama .dcr_block {
	    padding-top: 54px;
    	width: 397px;
    	padding-left: 23px;
    	padding-right: 11px;
	}
	.panorama .title {
	    padding-top: 0;
	    margin-bottom: 45px;
	}
	.condition {
	    padding-top: 59px;
	}
	.condition_discribe {
	    padding-top: 32px;
	}
	.condition_discribe .dcr_block {
    	width: 371px;
        margin-left: 87px;
		padding: 26px 30px;
		padding-bottom: 33px;
	}
	.header_fixed {
		padding-top: 0px;
		padding-bottom: 0px;
	}
	.img_how img {
    	margin-left: 65px;
	}
	.feedcall_discr {
	    margin-right: 30px;
	}
	.feed_back label {
	    width: 30.5327%;
	}
	.btn {
	    width: 30.2327%;
	}
	.main_footer .left {
	    width: 54.9087%;
	}
	.logo_soc {
	    margin-left: 19px;
	}
	.everest li {
	    margin-right: 12pxF;
	}
	.everest li a {
		padding: 14px 23px;
		padding-left: 12px;
	}
	.everest li:after {
	    right: 6px;
	}
	.menu_left ul {
	    margin-left: 108px;
	}
	.menu_left p {
	    margin-left: 110px;
	}
	.social {
		margin-right: 0;
	}
	.send_club {
	    margin-left: 46px;
	}
	.send_club a {
    	padding: 9px 11px;
   	 	padding-right: 11px;
    	margin-right: 25px;
	}
	.send_club a:nth-child(2) {
   		padding: 9px 15px;
   	 	padding-right: 16px;
	}
	.toggle_mnu {
	    min-width: 24px;
	}
	.everest li:after {
	    top: 28px;
	    right: 6px;
	}
	.partners .partners_list li:nth-last-child(1) {
		display: none;
	}
	.header_popup_show {
	    top: 60px;
	}
	.features_container .left {
    	width: 100%;
		width: 115%;
   		margin-left: -25px;
	}
	.features_container .right {
	    width: 100%;
	}
	.features_container .right:before {
	    transform: scale(0.7);
	}
	.feat_content b {
	    font-size: 22px;
	}
	.feat_content p {
    	font-size: 16px;
	}
	.right .feat_content {
		padding: 0;
		width: 60%;
    	line-height: 13px;
    	margin-left: auto;
   	}	
   	.features_container .item:nth-child(even) {
	    flex-direction: column;
	}
	.features_container .item:nth-child(even) .left {
    	margin-right: 0px;
	    margin-left: -25px;
	}
	.features_container .item:nth-child(even) .left .feat_content {
    	padding-bottom: 35px;
	}
	.features_container .item .left .feat_content {
		background-size: cover;
	}
	.item {
	    flex-direction: column;
	}
	.left .feat_content {
		padding: 20px 10px;
	}
	.resid_feature_1 .right:before {
		top: 35px;
   	    left: -24px;
   	}
	.resid_feature_2 .right:before {
   		top: 15px;
   		left: -38px;
	}.resid_feature_3 .right:before {
	    top: 15px;
	    left: -26px;
	}
	.resid_feature_4 .right:before {
    	top: 38px;
    	left: -43px;
	}
	.resid_feature_4  .feat_content {
		padding-top: 20px;
	}
	.resid_feature_5 .right:before {
    	top: 26px;
    	left: -21px;
	}
	.resid_feature_6 .right:before {
    	top: 2	9px;
    	left: -29px;
	}
	.everest_popap a {
	    color: #414141;
	    font-size: 16px;
	    padding: 3px;
	    padding-left: 15px;
	    width: 100%;
	}
	.everest_popap {
    	bottom: unset; 
    }
    .ev1:hover .ev_pop_open:after {
    	right: 44px;
	}
	.everest_menu li:last-child .everest_popap {
	    left: -164px;
	}

}	

/* Small De vices, Tablets */
@media only screen and (max-width : 768px) {
	
	/*Disable Animation on Mobile Devices*/
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}
	.container {
	    max-width: 798px;
	}
	.main_title {
		margin-bottom: 40px;
	    font-size: 18px;
	}
	.head_nav {
		display: none;
	}
	.head_check {
	    width: 345px;
	   	flex-direction: row;
	}
	.head_check a {
		padding: 9px 9px;
		width: 158px;
		font-size: 16px;
	}
	.main_title h1 {
    	font-size: 40px;
	}
	.everest_menu a {
	    width: 157px;
	    padding: 15px 21px;
	}
	.everest_menu .selected:after {
	    right: 24px;
	}
	.everest_menu a:after {
	    right: 23px;
	}
	.everest_popap {
	    width: 345px;
	}
	.everest_menu {
   		width: 100%;
   	 	max-width: 532px;
	}
	.everest_menu a {
	    margin-right: 0;
		padding: 11px 21px;
	}
	.partners .partners_list li:nth-last-child(2) {
		display: none;
	}
	.send_club {
	    margin-left: 18px;
		margin-top: 0;
	}
	.send_club a {
		 margin-left: 5px;
	}
	.everest {
	    font-size: 16px;
	    font-weight: bold;
		width: 305px;
	}
	.head_check a {
    	padding: 0px 9px;
	}
	.header_fixed_content .head_check a {
	    padding-bottom: 0;
	}
	.everest li a {
   		padding: 16px 9px;
	    padding-right: 16px;
	}
	.everest li {
	    margin-right: 8px;

	}
	.everest li:after {
	    top: 27px;
	    right: 3px;
	}
	.header_fixed_content .head_check a:first-child {
    	margin-right: 0px;
    	margin-left: 0px;
	}
	.header_main .head_check a {
	    padding: 9px 9px;	
	    margin-right: 30px;
	}
	.header_main .head_check a:last-child {
		margin-right: 0;
	}
	.features_1 p:before {
		top: 14px;
	    left: calc(50% - 36.5px);
	    position: absolute;
	    width: 73px;
	    height: 105px;
	    background: url(../img/features_1_lit.png) center no-repeat;
	}
	.features_2 p:before {
		top: 14px;
	    left: calc(50% - 71px);
	    position: absolute;
	    width: 142px;
	    height: 119px;
	    background: url(../img/features_2_lit.png) center no-repeat;
	}	
	.features_3 p:before {
		top: 14px;
	    left: calc(50% - 53px);
	    position: absolute;
	    width: 106px;
	    height: 106px;
	    background: url(../img/features_3_lit.png) center no-repeat;
	}		
	.features_4 p:before {
		top: 14px;
	    left: calc(50% - 54.5px);
	    position: absolute;
	    width: 109px;
	    height: 110px;
	    background: url(../img/features_4_lit.png) center no-repeat;
	}	
	.footer_fixed_content .logo {
		min-width: 86px;
	}
	.adress {
    	font-size: 14px;
	}
	.features_item p {
	    font-size: 20px;
	    line-height: 22px;
	}
	.features_item p {
	    font-size: 18px;
	}
	.features_item p {
	    width: 140px;
	}
	.how_buy_content p {
	    font-size: 22px;
	    letter-spacing: -0.3px;
	}
	.feedcall_discr b {
	    font-size: 26px;
	}
	.img_how img {
		margin-left: 0;
    	margin-top: 11px;
	}
	header {
	    margin-bottom: 233px;
	    padding: 4px 0;
	}
	.header_main {
    	padding-bottom: 2px;
	}
	header .feedcall {
		right: 20px;
	}
	.everest_menu {
	    margin-top: 2px;
	}
	.adress {
	    margin-left: 9px;
	}
	.send_club {
	    margin-left: 5px;
	}
	.send_club a {
	    padding: 7px 16px;
	    padding-right: 16px;
	    margin-right: 15px;
	}
	.everest li a {
    	padding: 18px 9px;
    	padding-right: 20px;
	}
	.dcr_block {
	    width: 408px;
		padding: 19px 29px;
    	padding-right: 21px;
    	padding-bottom: 6px;
	}
	.panorama .dcr_block {
    	padding-top: 52px;
    	width: 367px;
	    padding-left: 23px;
	}
	.panorama {
		padding-bottom: 86px;
	}
	.condition_discribe .dcr_block {
    	width: 371px;
   		margin-left: 28px;
    	padding: 26px 30px;
    	padding-bottom: 33px;
	}
	.news {
	    flex-direction: column;
	}
	.news .preview {
	    margin: 0 auto;
	}
	.news .preview_content {
	    width: 100%;
	    margin: 0 auto;
	    padding-right: 0;
	    text-align: justify;
	}
	.news_content_container {
	    display: flex;
	    flex-direction: column-reverse;
		align-items: center;
	}
	.news_content_info {
	    width: 100%;
	}
	.news_more_image {
		margin-left: 0;
	}
	.lit_page {
	    display: flex;
	}
	.head_check {
    	width: 350px;
    	flex-direction: row;
    	justify-content: flex-end;
	}
	.header_main .logo {
	    min-width: 110px;
	}
	.header_main .logo {
	    min-width: 96px;
	    width: 110px;
	}
	.head_check a {
	    width: 157px;
	}
	.ev2_header .head_nav {	
		padding-left: 15px;
	}
	.contact_block {
    	flex-wrap: wrap;
		justify-content: flex-start;
	}
	.contact_form {
	    width: 100%;	
	    margin: 0 auto;
	}
	.promo_content {
	    margin-left: 27.0666%;
	}
	.heaf_nav_left {
		display: block;
	}
	.menu_left {
        left: -90px;
		top: -48.325%;
    	width: 268px;
	}
	.menu_left:after {
		display: none;
	}
	.menu_left a {
    	font-size: 18px;
    	padding-bottom: 0;
	}
	.menu_left ul {
	    padding-top: 40px;
	    margin-top: 0;
    	margin-left: 80px;
	}	
	.menu_left p {   
		padding-bottom: 102px;
	    margin-bottom: 0;
	    margin-left: 105px;
	    visibility: visible;
    	opacity: 1;
	}
	.ev2_promo .menu_left p {
	    margin-bottom: 222px;
	}
	.ev2_promo .menu_left {
    	left: -58px;
	    top: -40.425%;
	}
	.promo_content_ev2 {
    	flex-wrap: wrap;
	}
	.promo_content_ev2 {
		margin-bottom: 0;
	}
	.head_nav_left {
		display: block;
	}
	.menu_left .open_left_menu {
		display: none;
	}
	.menu_left ul {
    	visibility: visible;
    	opacity: 1;
	}
	.more_inf_bg_1 {
	    width: 100%;
	    padding-left: 30px;
	    margin-left: 0px;
	}
	.more_inf_bg_2 {
    	width: 100%;
		background: rgba(12,129,174, 0.4);
	}
	.menu_left .full_left_bg {
	    margin-left: 105px;
	}
	.ev1 {
	    min-width: 157px;
	}
	.ev1:hover .ev_pop_open {
	    margin-right: 0;
		padding: 11px 16px;
	}
	.ev1:hover .ev_pop_open:after {
	    right: 23px;
	}
	.everest_menu li:last-child .everest_popap {
	    left: -188px;
	}
	.everest_popap a {
	    color: #414141;
	    font-size: 16px;
	    padding: 3px;
	    padding-left: 15px;
	    width: 100%;
	}
	.everest_menu a:after {
		top: 25px;
	    right: 18px;
	}
	.ev1:hover .ev_pop_open:after {
    	right: 23px;
    	top: 25px;
	}
}


@media only screen and (max-width : 668px) {
	.ev2_header {
		flex-wrap: wrap;
		justify-content: center;
	}
	header {
    	margin-bottom: 115px;
	}
	.everest_menu a {
 	    margin-bottom: 0;
    }
    .everest_menu {
   		flex-direction: column;
   		align-items: flex-start;
    	margin-left: 64px;
    	margin-bottom: 180px;
	}
	.everest_popap li {
	    padding-bottom: 0;
	}
    .everest_popap {
	    position: absolute;
	    left: 157px;
	    top: 0;
	    flex-direction: column;
	    align-items: center;
	    width: 188px;
	    z-index: 99;
	}
	.everest_menu li:last-child .everest_popap {
	    left: 157px;
	}
		.everest_menu li:last-child .everest_popap:after {
	    left: -20px;
	}
	.everest_popap .right a,
	.everest_popap .left a{
		padding-left: 10px;
	}
	.everest_popap::after{
		border-bottom: 10px solid transparent;
		border-right: 10px solid #fff;
		left: -20px;
		top: 25px;
	}
	.everest_popap .right {
	    margin-right: 0;
	}
	.menu_left ul {
   		margin-top: 0; 
     	margin-left: 0; 
		padding-top: 40px;
	}
	.menu_left {
		display: flex;
    	position: relative;
   		justify-content: space-around;
   		width: 100%;
    	padding-top: 0;
    	padding-bottom: 0;
    	left: 0;
		margin-top: -180px;
	}
	.menu_left p {
		display: none;
	}
	.menu_left .menu_part {
		display: block;
		margin-left: 0;
		margin-bottom: 0;
	}
	.promo_content {
    	margin: 0 20px;
    	padding: 0;
    	padding-bottom: 0;
	}
	.feed_back .btn {
    	font-size: 18px;
    	padding: 15px 0px;
	}
	.features_item {
		padding: 0;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	.features_item div {
	    width: 170px;
	}
	.features_item p {
    	width: 170px;
	}
	.header_fixed_content .everest ,
	.header_fixed_content .feedcall_fixed{
	    display: none;
	}
	.header_fixed .head_check {
	    padding: 15px;
    	flex-wrap: nowrap;
   	}
   	.header_popup .head_check {
		flex-direction: column;
		flex-wrap: wrap;
	}	
	.header_popup_show {
		top: 56px;
	}
	.header_popup_container {
		display: block;
	}
	.long_menu {
		display: none;
	}
	.ev2_promo .menu_left p {
	    margin-bottom: 10px;
	}
	.ev2_promo .menu_left {
	    width: 120%;
	}
	.ev2_promo header {
    	margin-bottom: 110px;
	}
	.head_check {
    	min-width: 337px;
	}
	.header_main .head_check a {
	    margin-right: 15px;
	}
	.main_title {
	    white-space: normal;
	}
	.main_title h1 {
	    font-size: 40px;
	    line-height: 40px;
	    margin-top: 20px;
	}
	.main_feedback_content {
		flex-direction: column;
		align-items: center;
  	}
  	.feedcall_discr {
    	width: 170px;
    	margin: 0;
	}
	.feed_back {
	    margin-top: 30px;
	}
	.menu_left .full_left_bg {
	    margin-left: 25px;
	}
	.everest_menu .ev_pop_open {
    	margin-bottom: 0;
		font-size: 22px;
	}
}	
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
/*.container {
	width: 94%;
}*/
.head_check {
    width: 300px;
    flex-direction: column;
}
.header_main .logo {
    min-width: 110px;
}
.header_main .logo {
    min-width: 96px;
    width: 110px;
}
.head_check a {
    width: 100%;
}
.news .preview {
	margin: 0 auto;
	width: 100%;
	min-width: 290px;
}
.news .preview img {
	max-width: 90%;
}
.btn {
	width: 53.2327%;
}
.main_footer {
	flex-direction: column;
}
.main_footer .left {
    width: 100%;
}
.logo_soc {
	min-width: 100px;
	margin-left: 0px;
}
.contact {
    margin-left: 33px;
}
.map {
    position: relative;
    top: 0;
    left: 0;
    width: 104%;
    height: 364px;
}
iframe {
   	width: 107%;
    margin-left: -24px;
    border: none;
    height: 100%;
}
.main_footer .right {
    width: 100%;
}
.form_components {
    flex-direction: column;
}
.contact_form .left, 
.contact_form .right {
    width: 100%;
}
.form_components input,
.form_components .right input,
.form_components .right textarea {
    max-width: 100%;
    width: 100%;
}
.contact_block {
    justify-content: center;
}
.contact_form .left {
    margin-bottom: 26px;
}
.contact_block .cont_left,
.cont_inf .cont_middle {
    margin-right: 60px;
}
.contact_block .cont_left,
.contact_block .cont_middle,
.contact_block .cont_right {
	width: 300px;
	margin-right: 0;
}
.contact_form {
  	width: 65.7894%;
   	padding: 16px 6.5964%;
}
.contact_form {
    width: 100%;
}
.main_title {
    font-size: 16px;
}
.main_title h1 {
    font-size: 30px;
}
.everest_menu {
    margin-left: 0;
    margin-bottom: 200px;
}
/*.everest_popap {
    left: 133px;
    width: 150px;
    bottom: 303px;
    z-index: 99;
    font-size: 14px;
}*/
.menu_left {
    margin-left: -20px;
    width: 110%;
/*	padding: 35px 15px;	*/
}
.menu_left a {
    font-size: 16px;
    font-weight: bold;
	line-height: 24px;
}
.menu_left .menu_part {
    display: block;
    margin-left: 0;
    margin-bottom: 0;
    margin-top: 3px;
    line-height: 16px;
    white-space: nowrap;
	font-size: 16px;
}
.menu_left ul {
    width: 130px;
}
.send_club {
    display: none;
}
.promo_content {
    margin: 0;
}
.everest_menu a.selected {
    width: 150px;
    margin-right: 12px;
}
.everest_menu .selected:after {
    right: 10px;
	transform: rotate(-90deg);
}
.everest_menu a:after {
	right: 23px;
	transform: rotate(-90deg);
}
.everest_popap li a {
    padding: 2px 20px;
}
.everest_popap {
    padding: 5px 10px;
	left: 132px;
	width: 170px;
}
.everest_menu li:last-child .everest_popap {
    left: 132px;
}
.everest_menu a {
    width: 100%;
    padding: 11px 16px;
}
.header_main .head_check a {
    padding: 0; 
    background: none;
    color: #fff;
    text-align: left;
   }
   .feedcall b {
    font-size: 23px;
	}
   .head_check {
    	min-width: 110px;
    	width: 115px;
	}
	.dcr_block {
		width: 265px;
	    margin: 0 auto;
	    text-align: center;
	}
	.panorama {
	    padding-top: 40px;
		padding-bottom: 34px;
	}
	.panorama .dcr_block {
		padding-top: 0;
   		width: 270px;
	    padding-left: 9px;
	    margin: 0 auto;
	    text-align: center;
	}
	.condition_discribe {
	    padding-top: 32px;
	    width: 121%;
	    margin-left: -13px;
	}
	.dcr_block .title {
    	font-size: 30px;
	}
	.dcr_block p {
    	font-size: 16px;
	}
	.condition_discribe .dcr_block {
	    width: 290px;
	    margin-left: 10px;
	    padding: 26px 13px;
	}
	ul.partners_list li {
	    width: 100px;
	}
	.partners .partners_list {
		flex-wrap: wrap;
	}
	.how_buy_content {
	    flex-direction: column;
	    align-items: center;
	}
	.how_buy_content div {
    	padding-left: 0;
		text-align: center;
	}
	.how_buy_content div {
    	width: 100%;
	}
	.how_buy_content h2 {
    	font-size: 36px;
	}
	.how_buy_content p {
    	font-size: 16px;
	}
	.main_feedback_content {	
	    flex-direction: column;
	}
	.feed_back {
		flex-direction: column;
	}
	.feed_back label {
	    width: 184px;
		margin-bottom: 17px;
	}
	.feedcall_discr {
	    width: 260px;
	    margin-left: 0;
		text-align: center;
	}
	.feed_back .btn {
	    font-weight: bold;
	}
	.header_fixed_content .everest ,
	.header_fixed_content .feedcall_fixed{
	    display: none;
	}
	.header_fixed .head_check {
		width: 130px;
	    padding: 0px;
    	flex-wrap: wrap;
   	}
	.promo_content_ev2 .menu_left {
    	padding-left: 0px;
    	margin-left: 0;
    }
    .ev2_promo .menu_left {
    	width: 135%;
    	left: -37px;
	}
	.ev2_promo .menu_left ul {
	    margin-top: 0;
	}
	.ev2_promo .right_block {
	    width: 100%;
	    padding-left: 120px;
	}
	.header_popup .head_check a {
    	padding: 10px 10px;
	}
	.item {
	    flex-direction: column;
	}
	.left .feat_content {
		padding: 20px 10px;
	}
	.features_container .left {
    	width: 100%;
		width: 115%;
   		margin-left: -25px;
	}
	.features_container .right {
	    width: 100%;
	}
	.features_container .right:before {
	    transform: scale(0.7);
	}
	.feat_content b {
	    font-size: 22px;
	}
	.feat_content p {
    	font-size: 16px;
	}
	.right .feat_content {
		padding: 0;
		width: 60%;
    	line-height: 13px;
    	margin-left: auto;
   	}
   	.resid_feature_1 .right:before {
		top: 35px;
   	    left: -24px;
   	}
   	.features_container .item:nth-child(even) {
	    flex-direction: column;
	}
	.features_container .item:nth-child(even) .left {
    	margin-right: 0px;
	    margin-left: -25px;
	}
	.features_container .item:nth-child(even) .left .feat_content {
    	padding-bottom: 35px;
	}
	.resid_feature_2 .right:before {
   		top: 15px;
   		left: -38px;
	}.resid_feature_3 .right:before {
	    top: 15px;
	    left: -26px;
	}
	.resid_feature_4 .right:before {
    	top: 38px;
    	left: -43px;
	}
	.resid_feature_4  .feat_content {
		padding-top: 20px;
	}
	.resid_feature_5 .right:before {
    	top: 26px;
    	left: -21px;
	}
	.resid_feature_6 .right:before {
    	top: 29px;
    	left: -29px;
	}
	.map_content img.img_map_mobile {
		display: block;
	}
	.map_content img.img_map_desctop {
		display: none;
	}
	.infstr_list {
	    flex-wrap: wrap;
	}
	.infstr_list div {
		margin-bottom: 20px;
		margin-left: 10px;
	}
	.layouts .layaout_6 {
	    margin-left: -23px;
	}
	.condition_discribe {
    	background: url(../img/everest_4_bg_1.jpg) 67% 20% no-repeat;
	}
	.features_item p {
		width: 100%;
	}
	.owl-theme .owl-nav {
    	display: none;
	}
	.owl-carousel.owl-loaded {
		display: none;
	}
	.versions_non_slider {
		display: block;
		margin-left: -20px;
	}
	.doc_content {
	    flex-direction: column;
	}
	.doc_content .left {
   		width: 100%;
    	margin-right: 0;
	}
	.documentation h2 {
    	font-size: 30px;
	}
	.doc_content li {
    	padding-left: 11px;
	}
	.more_inf_bg_1 {
	    width: 50%;
	}
	.more_inf_bg_2 {
		width: 50%;
    	padding-left: 0;
	}
	.menu_left .full_left_bg {
	    margin-left: 15px;
	}
	.ev1 {
	    min-width: 132px;
	}
}
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
/*.container {
	max-width: 290px;
	padding: 0 10px;
}*/
}